.position {
  color: white;
  list-style: none;
  margin-bottom: 1.5em;
}

.division {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #080808;
  height: 90vh;
}

.heroButton {
  background-color: #eab308;
  padding: 1em;
  margin-right: 1.2em;
  margin-bottom: 1.2em;
  color: black;
  border-radius: 50px;
  cursor: pointer;
}
.heroButton:hover {
  background-color: #ca8a04;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
  gap: 16px; /* Spacing between the cards */
  padding: 2em;
}
@media (max-width: 1024px) {
  .gridContainer {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* 2 cards per row on medium screens */
  }
}

@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr; /* 1 card per row on small screens */
  }
}

.card {
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.cardInner {
  width: 100%;
}
