.position {
  color: white;
  list-style: none;
  margin-bottom: 1.5em;
}

.division {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #080808;
}

.heroSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.heroButton {
  background-color: white;
  padding: 1em;
  margin-right: 1.2em;
  margin-bottom: 1.2em;
  color: #313131;
  border-radius: 50px;
  cursor: pointer;
}
.heroButton:hover {
  background-color: #e4da14;
}
.projectdiv {
  background-color: #080808;
}
